html {
  background-color: tomato;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#first {
  width: 200px;
  height: 200px;
  background-color: blanchedalmond;
  border: 2px solid black;
}

.littleboxes {
  background-color: teal;
  width: 40px;
  height: 40px;
  border: 2.5px solid white;
}

#third {
  width: 170px;
  height: 40px;
  border: 2px dashed white;
}
