.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  font-size: 25px;
  margin: 20px;
  margin-top: -5px;
}

.icon-row__icon span {
  font-size: 14px;
}
